In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('airline_delay_prices_age_storm.csv')

C:\Users\muthu\AppData\Local\Temp\ipykernel_11572\3941808002.py:1: DtypeWarning: Columns (28) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('airline_delay_prices_age_storm.csv')

In [3]:
df.describe()

,CRSDepTime,DepTime,DepDelay,DepDelayMinutes,DepDel15,CRSArrTime,ArrTime,ArrDelay,ArrDelayMinutes,ArrDel15,...,DistanceGroup,mkt_fare,Unit Cost,Average Age,MAGNITUDE,CATEGORY,INJURIES_DIRECT,INJURIES_INDIRECT,DEATHS_DIRECT,DEATHS_INDIRECT
count,1.917689e+06,1.917689e+06,1.917689e+06,1.917689e+06,1.917689e+06,1.917689e+06,1.917689e+06,1.917689e+06,1.917689e+06,1.917689e+06,...,1.917689e+06,1.917689e+06,1.525136e+06,1.525136e+06,1.917689e+06,0.0,1.917689e+06,1.917689e+06,1.917689e+06,1.917689e+06
mean,1.365708e+03,1.373881e+03,1.450610e+01,1.669890e+01,2.328746e-01,1.494130e+03,1.472240e+03,1.409698e+01,1.930330e+01,2.716322e-01,...,2.370335e+00,1.389462e+02,7.690879e+01,1.542397e+01,3.312464e+01,NaN,2.548380e-02,8.628094e-03,1.054863e-02,4.355242e-03
std,4.869585e+02,5.058178e+02,4.557682e+01,4.467631e+01,4.226631e-01,5.017853e+02,5.357189e+02,4.963945e+01,4.705185e+01,4.448013e-01,...,1.021911e+00,7.619390e+01,6.407962e+00,5.020536e+00,1.959366e+01,NaN,6.869663e-01,5.507393e-01,1.502182e-01,8.135867e-02
min,8.000000e+00,1.000000e+00,-3.300000e+01,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,-5.600000e+01,0.000000e+00,0.000000e+00,...,1.000000e+00,6.529000e+01,6.600000e+01,9.200000e+00,2.500000e-01,NaN,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,9.390000e+02,9.410000e+02,-4.000000e+00,0.000000e+00,0.000000e+00,1.100000e+03,1.047000e+03,-9.000000e+00,0.000000e+00,0.000000e+00,...,2.000000e+00,7.762000e+01,7.400000e+01,1.170000e+01,3.633893e+01,NaN,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,1.352000e+03,1.358000e+03,-1.000000e+00,0.000000e+00,0.000000e+00,1.515000e+03,1.509000e+03,-1.000000e+00,0.000000e+00,0.000000e+00,...,2.000000e+00,9.711000e+01,7.400000e+01,1.170000e+01,3.633893e+01,NaN,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,1.800000e+03,1.814000e+03,1.200000e+01,1.200000e+01,0.000000e+00,1.920000e+03,1.922000e+03,1.700000e+01,1.700000e+01,1.000000e+00,...,3.000000e+00,1.949500e+02,7.500000e+01,2.274000e+01,4.800000e+01,NaN,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
max,2.359000e+03,2.400000e+03,1.274000e+03,1.274000e+03,1.000000e+00,2.359000e+03,2.400000e+03,1.260000e+03,1.260000e+03,1.000000e+00,...,7.000000e+00,3.856100e+02,9.800000e+01,2.274000e+01,1.290000e+02,NaN,7.500000e+01,7.000000e+01,6.000000e+00,3.000000e+00

In [4]:
df.dtypes

FlightDate                      object
Reporting_Airline               object
IATA_CODE_Reporting_Airline     object
CRSDepTime                       int64
DepTime                        float64
DepDelay                       float64
DepDelayMinutes                float64
DepDel15                       float64
DepTimeBlk                      object
CRSArrTime                       int64
ArrTime                        float64
ArrDelay                       float64
ArrDelayMinutes                float64
ArrDel15                       float64
ArrTimeBlk                      object
CRSElapsedTime                 float64
ActualElapsedTime              float64
AirTime                        float64
Distance                       float64
DistanceGroup                    int64
OriginState                     object
DestState                       object
car                             object
city1                           object
city2                           object
mkt_fare                       float64
state1                          object
state2                          object
IATA                            object
Unit Cost                      float64
Average Age                    float64
DATE                            object
STATE                           object
EVENT_TYPE                      object
MAGNITUDE                      float64
MAGNITUDE_TYPE                  object
CATEGORY                       float64
INJURIES_DIRECT                  int64
INJURIES_INDIRECT                int64
DEATHS_DIRECT                    int64
DEATHS_INDIRECT                  int64
DAMAGE_PROPERTY                 object
DAMAGE_CROPS                    object
SOURCE                          object
dtype: object

In [5]:
df['Reporting_Airline']

0          AA
1          AA
2          AA
3          AA
4          AA
           ..
1917684    VX
1917685    VX
1917686    VX
1917687    VX
1917688    VX
Name: Reporting_Airline, Length: 1917689, dtype: object

In [6]:
df['CRSDepTime'], df['CRSDepTime']

(0          1410
 1          1410
 2          1410
 3          1410
 4          1410
            ...
 1917684    1945
 1917685    1945
 1917686    1945
 1917687    1945
 1917688    1945
 Name: CRSDepTime, Length: 1917689, dtype: int64,
 0          1410
 1          1410
 2          1410
 3          1410
 4          1410
            ...
 1917684    1945
 1917685    1945
 1917686    1945
 1917687    1945
 1917688    1945
 Name: CRSDepTime, Length: 1917689, dtype: int64)

In [7]:
# Sample: df['CRSDepTime'] is in HHMM format like 1410, 1604
def convert_to_hour(time_val):
    """Convert HHMM int to hour in 24h format."""
    hour = time_val // 100
    return hour % 24  # modulo 24 just in case of weird data

# Apply to create hour columns
df['DepHour'] = df['CRSDepTime'].apply(convert_to_hour)
df['ArrHour'] = df['CRSArrTime'].apply(convert_to_hour)

# Function to map hours to time-of-day bins
def get_time_of_day(hour):
    if 5 <= hour <= 11:
        return 'morning'
    elif 12 <= hour <= 16:
        return 'afternoon'
    elif 17 <= hour <= 20:
        return 'evening'
    else:
        return 'night'

# Create new binned features
df['DepTimeOfDay'] = df['DepHour'].apply(get_time_of_day)
df['ArrTimeOfDay'] = df['ArrHour'].apply(get_time_of_day)

In [8]:
df['ArrDelay']

0         -12.0
1         -12.0
2         -14.0
3         -14.0
4         -14.0
           ...
1917684     9.0
1917685     9.0
1917686     9.0
1917687     9.0
1917688     9.0
Name: ArrDelay, Length: 1917689, dtype: float64

In [9]:
df['Distance']

0          550.0
1          550.0
2          550.0
3          550.0
4          550.0
           ...
1917684    447.0
1917685    447.0
1917686    447.0
1917687    447.0
1917688    447.0
Name: Distance, Length: 1917689, dtype: float64

In [10]:
def distance_bin(miles):
    if miles <= 500:
        return 'short'
    elif miles <= 1500:
        return 'medium'
    else:
        return 'long'

df['DistanceBin'] = df['Distance'].apply(distance_bin)

In [11]:
df['DepDelay_Short'] = df.apply(lambda x: x['DepDelay'] if x['DistanceBin'] == 'short' else 0, axis=1)
df['DepDelay_Medium'] = df.apply(lambda x: x['DepDelay'] if x['DistanceBin'] == 'medium' else 0, axis=1)
df['DepDelay_Long'] = df.apply(lambda x: x['DepDelay'] if x['DistanceBin'] == 'long' else 0, axis=1)

Interaction term

In [12]:
df['DepDelay_Distance_Interaction'] = df['DepDelay'] * df['Distance']

In [13]:
df['Route'] = df['OriginState'] + '-' + df['DestState']

In [14]:
# Average departure delay per airline
avg_dep_delay_airline = df.groupby('Reporting_Airline')['DepDelay'].mean().reset_index(name='AvgDepDelay')

# Average arrival delay per airline
avg_arr_delay_airline = df.groupby('Reporting_Airline')['ArrDelay'].mean().reset_index(name='AvgArrDelay')

In [15]:
avg_dep_delay_airline

  Reporting_Airline  AvgDepDelay
0                AA    16.766159
1                AS     3.685197
2                B6    36.156425
3                DL    14.017270
4                F9     7.288304
5                NK    26.352929
6                UA    15.978005
7                VX    23.910176
8                WN    12.493368

In [16]:
avg_arr_delay_airline

  Reporting_Airline  AvgArrDelay
0                AA    18.828179
1                AS     4.667765
2                B6    35.461979
3                DL    10.972798
4                F9     7.614850
5                NK    30.447212
6                UA    12.216895
7                VX    25.777720
8                WN    12.196622

In [17]:
# Average departure delay per route
avg_dep_delay_route = df.groupby('Route')['DepDelay'].mean().reset_index(name='AvgDepDelay')

# Average arrival delay per route
avg_arr_delay_route = df.groupby('Route')['ArrDelay'].mean().reset_index(name='AvgArrDelay')

In [18]:
avg_dep_delay_route

     Route  AvgDepDelay
0    AL-FL    28.773006
1    AL-IL     9.055351
2    AL-TX     8.490535
3    AR-MO     4.487484
4    AR-TX     8.741340
..     ...          ...
195  VA-FL    24.628615
196  VT-NY    33.310413
197  WA-CA     3.886786
198  WA-WA     8.038183
199  WI-MN     7.997374

[200 rows x 2 columns]

In [19]:
avg_arr_delay_route

     Route  AvgArrDelay
0    AL-FL    27.875767
1    AL-IL     2.621156
2    AL-TX     7.250455
3    AR-MO     1.191041
4    AR-TX    12.587284
..     ...          ...
195  VA-FL    38.652860
196  VT-NY    33.713163
197  WA-CA     4.562406
198  WA-WA     9.180382
199  WI-MN     1.279054

[200 rows x 2 columns]

In [20]:
avg_dep_delay_airline.rename(columns={'AvgDepDelay': 'AvgDepDelayByAirline'}, inplace=True)
avg_dep_delay_route.rename(columns={'AvgDepDelay': 'AvgDepDelayByRoute'}, inplace=True)

In [21]:
# Merge airline average back to original DataFrame
df = df.merge(avg_dep_delay_airline, on='Reporting_Airline', how='left')

# Merge route average back to original DataFrame
df = df.merge(avg_dep_delay_route, on='Route', how='left')

In [45]:
df.head(1)

,FlightDate,Reporting_Airline,IATA_CODE_Reporting_Airline,CRSDepTime,DepTime,DepDelay,DepDelayMinutes,DepDel15,DepTimeBlk,CRSArrTime,...,DepDelay_Medium,DepDelay_Long,DepDelay_Distance_Interaction,Route,AvgDepDelayByAirline,AvgDepDelayByRoute,RouteTraffic,DayOfWeek,WeatherEventCount,SevereWeatherFlag
0,2016-01-06,AA,AA,1410,1406.0,-4.0,0.0,0.0,1400-1459,1604,...,-4.0,0.0,-2200.0,MO-TX,16.766159,14.357626,72,2,986,1

In [31]:
df.dtypes

FlightDate                       datetime64[ns]
Reporting_Airline                        object
IATA_CODE_Reporting_Airline              object
CRSDepTime                                int64
DepTime                                 float64
DepDelay                                float64
DepDelayMinutes                         float64
DepDel15                                float64
DepTimeBlk                               object
CRSArrTime                                int64
ArrTime                                 float64
ArrDelay                                float64
ArrDelayMinutes                         float64
ArrDel15                                float64
ArrTimeBlk                               object
CRSElapsedTime                          float64
ActualElapsedTime                       float64
AirTime                                 float64
Distance                                float64
DistanceGroup                             int64
OriginState                              object
DestState                                object
car                                      object
city1                                    object
city2                                    object
mkt_fare                                float64
state1                                   object
state2                                   object
IATA                                     object
Unit Cost                               float64
Average Age                             float64
DATE                                     object
STATE                                    object
EVENT_TYPE                               object
MAGNITUDE                               float64
MAGNITUDE_TYPE                           object
CATEGORY                                float64
INJURIES_DIRECT                           int64
INJURIES_INDIRECT                         int64
DEATHS_DIRECT                             int64
DEATHS_INDIRECT                           int64
DAMAGE_PROPERTY                          object
DAMAGE_CROPS                             object
SOURCE                                   object
DepHour                                   int64
ArrHour                                   int64
DepTimeOfDay                             object
ArrTimeOfDay                             object
DistanceBin                              object
DepDelay_Short                          float64
DepDelay_Medium                         float64
DepDelay_Long                           float64
DepDelay_Distance_Interaction           float64
Route                                    object
AvgDepDelayByAirline                    float64
AvgDepDelayByRoute                      float64
RouteTraffic                              int64
DayOfWeek                                 int32
dtype: object

In [32]:
df['RouteTraffic'] = df.groupby(['Route', 'FlightDate'])['FlightDate'].transform('count')

In [29]:
df['FlightDate'] = pd.to_datetime(df['FlightDate'], format='%Y-%m-%d')

In [30]:
df['DayOfWeek'] = df['FlightDate'].dt.dayofweek

In [40]:
weather_agg = df.groupby(['DestState', 'FlightDate']).agg(
    WeatherEventCount=('EVENT_TYPE', 'count'),
    # Flag severe weather: 1 if any event on that day in that state had MAGNITUDE > 5, else 0.
    SevereWeatherFlag=('MAGNITUDE', lambda x: 1 if (x > 5).any() else 0)
).reset_index()

In [ ]:
weather_agg.rename(columns={'WeatherEventCount': 'WeatherEventCountByState'}, inplace=True)

     DestState FlightDate  WeatherEventCount  SevereWeatherFlag
0           AR 2016-01-01                126                  1
1           AR 2016-01-03                 10                  1
2           AR 2016-01-08                 22                  0
3           AR 2016-01-19                120                  1
4           AR 2016-01-20                100                  1
...        ...        ...                ...                ...
1066        WI 2016-03-31                 80                  0
1067        WI 2016-04-02                405                  1
1068        WI 2016-04-07                104                  1
1069        WI 2016-04-08                390                  1
1070        WI 2016-04-25                408                  0

[1071 rows x 4 columns]

In [42]:
df = df.merge(weather_agg[['DestState', 'FlightDate', 'WeatherEventCount', 'SevereWeatherFlag']],
              left_on=['DestState', 'FlightDate'],
              right_on=['DestState', 'FlightDate'],
              how='left')

In [43]:
len(df)

1917689

In [44]:
df.dtypes

FlightDate                       datetime64[ns]
Reporting_Airline                        object
IATA_CODE_Reporting_Airline              object
CRSDepTime                                int64
DepTime                                 float64
DepDelay                                float64
DepDelayMinutes                         float64
DepDel15                                float64
DepTimeBlk                               object
CRSArrTime                                int64
ArrTime                                 float64
ArrDelay                                float64
ArrDelayMinutes                         float64
ArrDel15                                float64
ArrTimeBlk                               object
CRSElapsedTime                          float64
ActualElapsedTime                       float64
AirTime                                 float64
Distance                                float64
DistanceGroup                             int64
OriginState                              object
DestState                                object
car                                      object
city1                                    object
city2                                    object
mkt_fare                                float64
state1                                   object
state2                                   object
IATA                                     object
Unit Cost                               float64
Average Age                             float64
DATE                                     object
STATE                                    object
EVENT_TYPE                               object
MAGNITUDE                               float64
MAGNITUDE_TYPE                           object
CATEGORY                                float64
INJURIES_DIRECT                           int64
INJURIES_INDIRECT                         int64
DEATHS_DIRECT                             int64
DEATHS_INDIRECT                           int64
DAMAGE_PROPERTY                          object
DAMAGE_CROPS                             object
SOURCE                                   object
DepHour                                   int64
ArrHour                                   int64
DepTimeOfDay                             object
ArrTimeOfDay                             object
DistanceBin                              object
DepDelay_Short                          float64
DepDelay_Medium                         float64
DepDelay_Long                           float64
DepDelay_Distance_Interaction           float64
Route                                    object
AvgDepDelayByAirline                    float64
AvgDepDelayByRoute                      float64
RouteTraffic                              int64
DayOfWeek                                 int32
WeatherEventCount                         int64
SevereWeatherFlag                         int64
dtype: object