In [106]:
import pandas as pd
import numpy as np

In [89]:
df = pd.read_csv('../Data/airline_delay_prices_age_storm.csv')

/var/folders/vd/dmj076xx2t38kz00wdhlwgqh0000gn/T/ipykernel_6157/1110854256.py:1: DtypeWarning: Columns (28) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../Data/airline_delay_prices_age_storm.csv')

In [90]:
df.describe()

,CRSDepTime,DepTime,DepDelay,DepDelayMinutes,DepDel15,CRSArrTime,ArrTime,ArrDelay,ArrDelayMinutes,ArrDel15,...,DistanceGroup,mkt_fare,Unit Cost,Average Age,MAGNITUDE,CATEGORY,INJURIES_DIRECT,INJURIES_INDIRECT,DEATHS_DIRECT,DEATHS_INDIRECT
count,1.917689e+06,1.917689e+06,1.917689e+06,1.917689e+06,1.917689e+06,1.917689e+06,1.917689e+06,1.917689e+06,1.917689e+06,1.917689e+06,...,1.917689e+06,1.917689e+06,1.525136e+06,1.525136e+06,1.917689e+06,0.0,1.917689e+06,1.917689e+06,1.917689e+06,1.917689e+06
mean,1.365708e+03,1.373881e+03,1.450610e+01,1.669890e+01,2.328746e-01,1.494130e+03,1.472240e+03,1.409698e+01,1.930330e+01,2.716322e-01,...,2.370335e+00,1.389462e+02,7.690879e+01,1.542397e+01,3.312464e+01,NaN,2.548380e-02,8.628094e-03,1.054863e-02,4.355242e-03
std,4.869585e+02,5.058178e+02,4.557682e+01,4.467631e+01,4.226631e-01,5.017853e+02,5.357189e+02,4.963945e+01,4.705185e+01,4.448013e-01,...,1.021911e+00,7.619390e+01,6.407962e+00,5.020536e+00,1.959366e+01,NaN,6.869663e-01,5.507393e-01,1.502182e-01,8.135867e-02
min,8.000000e+00,1.000000e+00,-3.300000e+01,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,-5.600000e+01,0.000000e+00,0.000000e+00,...,1.000000e+00,6.529000e+01,6.600000e+01,9.200000e+00,2.500000e-01,NaN,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,9.390000e+02,9.410000e+02,-4.000000e+00,0.000000e+00,0.000000e+00,1.100000e+03,1.047000e+03,-9.000000e+00,0.000000e+00,0.000000e+00,...,2.000000e+00,7.762000e+01,7.400000e+01,1.170000e+01,3.633893e+01,NaN,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,1.352000e+03,1.358000e+03,-1.000000e+00,0.000000e+00,0.000000e+00,1.515000e+03,1.509000e+03,-1.000000e+00,0.000000e+00,0.000000e+00,...,2.000000e+00,9.711000e+01,7.400000e+01,1.170000e+01,3.633893e+01,NaN,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,1.800000e+03,1.814000e+03,1.200000e+01,1.200000e+01,0.000000e+00,1.920000e+03,1.922000e+03,1.700000e+01,1.700000e+01,1.000000e+00,...,3.000000e+00,1.949500e+02,7.500000e+01,2.274000e+01,4.800000e+01,NaN,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
max,2.359000e+03,2.400000e+03,1.274000e+03,1.274000e+03,1.000000e+00,2.359000e+03,2.400000e+03,1.260000e+03,1.260000e+03,1.000000e+00,...,7.000000e+00,3.856100e+02,9.800000e+01,2.274000e+01,1.290000e+02,NaN,7.500000e+01,7.000000e+01,6.000000e+00,3.000000e+00

In [91]:
df.dtypes

FlightDate                      object
Reporting_Airline               object
IATA_CODE_Reporting_Airline     object
CRSDepTime                       int64
DepTime                        float64
DepDelay                       float64
DepDelayMinutes                float64
DepDel15                       float64
DepTimeBlk                      object
CRSArrTime                       int64
ArrTime                        float64
ArrDelay                       float64
ArrDelayMinutes                float64
ArrDel15                       float64
ArrTimeBlk                      object
CRSElapsedTime                 float64
ActualElapsedTime              float64
AirTime                        float64
Distance                       float64
DistanceGroup                    int64
OriginState                     object
DestState                       object
car                             object
city1                           object
city2                           object
mkt_fare                       float64
state1                          object
state2                          object
IATA                            object
Unit Cost                      float64
Average Age                    float64
DATE                            object
STATE                           object
EVENT_TYPE                      object
MAGNITUDE                      float64
MAGNITUDE_TYPE                  object
CATEGORY                       float64
INJURIES_DIRECT                  int64
INJURIES_INDIRECT                int64
DEATHS_DIRECT                    int64
DEATHS_INDIRECT                  int64
DAMAGE_PROPERTY                 object
DAMAGE_CROPS                    object
SOURCE                          object
dtype: object

In [92]:
airline_to_iata = df.groupby('Reporting_Airline')['IATA_CODE_Reporting_Airline'].nunique()

# Group by IATA code and count unique airline names
iata_to_airline = df.groupby('IATA_CODE_Reporting_Airline')['Reporting_Airline'].nunique()

# Check if all counts are 1 (i.e., one-to-one relationship)
is_one_to_one = airline_to_iata.max() == 1 and iata_to_airline.max() == 1

print("Is one-to-one mapping:", is_one_to_one)

Is one-to-one mapping: True

In [93]:
df.drop(columns=['IATA_CODE_Reporting_Airline'], inplace=True)

In [94]:
df['Reporting_Airline'].unique()

array(['AA', 'AS', 'B6', 'DL', 'VX', 'WN', 'UA', 'F9', 'NK'], dtype=object)

In [95]:
airline_to_car = df.groupby('Reporting_Airline')['car'].nunique()

# Group by car and count unique airline names
car_to_airline = df.groupby('car')['Reporting_Airline'].nunique()

# Check if all counts are 1 (i.e., one-to-one relationship)
is_one_to_one = airline_to_car.max() == 1 and car_to_airline.max() == 1

print("Is one-to-one mapping:", is_one_to_one)

Is one-to-one mapping: True

In [96]:
df.drop(columns=['car'], inplace=True)

In [97]:
df['OriginState']

OriginState_to_state1 = df.groupby('OriginState')['state1'].nunique()

# Group by car and count unique airline names
state1_to_OriginState = df.groupby('state1')['OriginState'].nunique()

# Check if all counts are 1 (i.e., one-to-one relationship)
is_one_to_one = OriginState_to_state1.max() == 1 and state1_to_OriginState.max() == 1

print("Is one-to-one mapping:", is_one_to_one)

Is one-to-one mapping: True

In [98]:
df.drop(columns=['state1'], inplace=True)

In [99]:
df['OriginState']

DestState_to_state2 = df.groupby('DestState')['state2'].nunique()

# Group by car and count unique airline names
state2_to_DestState = df.groupby('state2')['DestState'].nunique()

# Check if all counts are 1 (i.e., one-to-one relationship)
is_one_to_one = DestState_to_state2.max() == 1 and state2_to_DestState.max() == 1

print("Is one-to-one mapping:", is_one_to_one)

Is one-to-one mapping: True

In [100]:
df.drop(columns=['state2'], inplace=True)

In [101]:
airline_to_IATA = df.groupby('Reporting_Airline')['IATA'].nunique()

# Group by IATA and count unique airline names
IATA_to_airline = df.groupby('IATA')['Reporting_Airline'].nunique()

# Check if all counts are 1 (i.e., one-to-one relationship)
is_one_to_one = airline_to_IATA.max() == 1 and IATA_to_airline.max() == 1

print("Is one-to-one mapping:", is_one_to_one)

Is one-to-one mapping: True

In [102]:
df.drop(columns=['IATA'], inplace=True)

In [103]:
df.drop(columns=['DATE'], inplace=True)

In [104]:
state_to_DestState = df.groupby('STATE')['DestState'].nunique()

# Group by IATA and count unique airline names
DestState_to_state = df.groupby('DestState')['STATE'].nunique()

# Check if all counts are 1 (i.e., one-to-one relationship)
is_one_to_one = state_to_DestState.max() == 1 and DestState_to_state.max() == 1

print("Is one-to-one mapping:", is_one_to_one)

Is one-to-one mapping: True

In [105]:
df.drop(columns=['STATE'], inplace=True)

In [87]:
# renaming columns for better readability, dropping unncessary columns
df.rename(columns={'Reporting_Airline': 'Airline_Code'}, inplace=True)
df.rename(columns={'CRSDepTime': 'Scheduled_Dep_Time_hhmm'}, inplace=True)
df.rename(columns={'DepTime': 'Actual_Dep_Time_hhmm'}, inplace=True)
df.rename(columns={'DepDelay': 'Dep_Delay_min'}, inplace=True)
df.drop(columns=['DepDelayMinutes'], inplace=True)
df.rename(columns={'DepDel15': 'If_Dep_Del_Over_15'}, inplace=True)
df.drop(columns=['DepTimeBlk'], inplace=True)
df.rename(columns={'CRSArrTime': 'Scheduled_Actual_Arr_Time_hhmm'}, inplace=True)
df.rename(columns={'ArrTime': 'Actual_Arr_Time_hhmm'}, inplace=True)
df.rename(columns={'ArrDelay': 'Arr_Delay_min'}, inplace=True)
df.drop(columns=['ArrDelayMinutes'], inplace=True)
df.rename(columns={'ArrDel15': 'If_Arr_Del_Over_15'}, inplace=True)
df.drop(columns=['ArrTimeBlk'], inplace=True)
df.rename(columns={'CRSElapsedTime': 'Scheduled_Elapsed_Time_min'}, inplace=True)
df.rename(columns={'ActualElapsedTime': 'Actual_Elapsed_Time_min'}, inplace=True)
df.rename(columns={'AirTime': 'AirTime_min'}, inplace=True)
df.rename(columns={'Distance': 'Distance_miles'}, inplace=True)
df.drop(columns=['DistanceGroup'], inplace=True)
df.rename(columns={'city1': 'Origin_City'}, inplace=True)
df.rename(columns={'city2': 'Dest_City'}, inplace=True)
df.rename(columns={'mkt_fare': 'Fare'}, inplace=True)
df.rename(columns={'Unit Cost': 'Airplane_Cost_millions'}, inplace=True)
df.rename(columns={'Average Age': 'Avg_Airline_Planes_Age'}, inplace=True)
df.rename(columns={'EVENT_TYPE': 'WEATHER_TYPE'}, inplace=True)
df.drop(columns=['MAGNITUDE_TYPE'], inplace=True)
df.drop(columns=['CATEGORY'], inplace=True)
df.rename(columns={'SOURCE': 'WEATHER_SOURCE'}, inplace=True)